[submodule "jio"]
	path = jio
	url = git@github.com:j4nr0th/jio.git
[submodule "jdm"]
	path = jdm
	url = git@github.com:j4nr0th/jdm.git
[submodule "jmem"]
	path = jmem
	url = git@github.com:j4nr0th/jmem.git
[submodule "jmtx"]
	path = jmtx
	url = git@github.com:j4nr0th/jmtx
[submodule "jwin"]
	path = jwin
	url = git@github.com:j4nr0th/jwin.git
[submodule "jrui"]
	path = jrui
	url = git@github.com:j4nr0th/jrui
[submodule "jvm"]
	path = jvm
	url = git@github.com:j4nr0th/jvm
